body {
    background-color: aqua;
    background-image: url("image.jpg");
}

.paragraph {
    font-size: 40px;
    font-weight: bold;
}

#links {
    font-size: 30px;
    font-style: italic;
    font-variant: small-caps;
}